name: workflow

on:
  push:
    branches:
      - main

jobs:
  dependencies:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.1

      - name: Create virtual environment
        run: python3 -m venv .venv

      - name: Activate virtual environment
        run: source ./venv/bin/activate

      - name: Install dependencies
        run: |
          pip install --upgrade pip setuptools wheel
          pip install poetry
          poetry config virtualenvs.create false
          poetry install

  flake8:
    name: Check flake8
    runs-on: ubuntu-latest
    needs: dependencies
    steps:
      - uses: actions/checkout@v2
      - name: Run flake8
        run: |
          flake8 --verbose
